<template>
    <div>
        <div class="page-wrapper">


        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3>Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                    <li class="breadcrumb-item active"> Dashboard</li>
                </ol>
            </div>
        </div>

        <div class="container-fluid">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="m-b-0"><i class="mdi mdi-arrow-bottom-right text-info"></i></h2>
                                <h3>30 Rooms</h3>
                                <h6 class="card-subtitle">CHECK IN</h6>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width:85%; height:6px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="m-b-0"><i class="mdi mdi-arrow-top-right text-warning"></i></h2>
                                <h3>15 Rooms</h3>
                                <h6 class="card-subtitle">CHECK OUT</h6>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width:62%; height:6px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="m-b-0"><i class="mdi mdi-basket-fill text-danger"></i></h2>
                                <h3>170</h3>
                                <h6 class="card-subtitle">SERVE</h6>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width:32%; height:6px" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="m-b-0"><i class="mdi mdi-book-multiple text-success"></i></h2>
                                <h3>19</h3>
                                <h6 class="card-subtitle">AVAILABLE ROOMS</h6>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:95%; height:6px" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <select class="custom-select pull-right" name="">
                                <option value="10" selected>Okt</option>
                                <option value="11">Nov</option>
                                <option value="12">Des</option>
                                <option value="1">Jant</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                            </select>

                            <h4 class="card-title">Report Monthly</h4>
                            <h6 class="card-subtitle">Check Report current month</h6>
                        </div>

                        <div class="bg-light p-20">
                            <div class="d-flex">
                                <div class="align-self-center">
                                    <h3 class="m-b-0">Okt 2017</h3><small>Report</small>
                                </div>
                                <div class="ml-auto align-self-center">
                                    <h2 class="text-success">78 Rooms</h2>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover earning-box">
                                    <thead>
                                    <tr>
                                        <td>Mr. Angga S. Tamma</td>
                                        <td>
                                            <h6>Rooms 16</h6> <small class="text-muted">Lt. 2</small>
                                        </td>
                                        <td><span class="label label-info">Large</span></td>
                                        <td><span class="label label-info">2 Days</span></td>
                                        <td><span class="label label-success">Check in : 15 Okt 2017</span></td>
                                        <td><span class="label label-danger">Check out : 17 Okt 2017</span></td>
                                    </tr>

                                    <tr>
                                        <td>Mr. Atmajaya</td>
                                        <td>
                                            <h6>Rooms 20</h6> <small class="text-muted">Lt. 2</small>
                                        </td>
                                        <td><span class="label label-info">Large</span></td>
                                        <td><span class="label label-info">1 Day</span></td>
                                        <td><span class="label label-success">Check in : 19 Okt 2017</span></td>
                                        <td><span class="label label-danger">Check out : 20 Okt 2017</span></td>
                                    </tr>

                                    <tr>
                                        <td>Mr. Atmajaya</td>
                                        <td>
                                            <h6>Rooms 20</h6> <small class="text-muted">Lt. 2</small>
                                        </td>
                                        <td><span class="label label-info">Large</span></td>
                                        <td><span class="label label-info">1 Day</span></td>
                                        <td><span class="label label-success">Check in : 19 Okt 2017</span></td>
                                        <td><span class="label label-danger">Check out : 20 Okt 2017</span></td>
                                    </tr>

                                    <tr>
                                        <td>Mr. Atmajaya</td>
                                        <td>
                                            <h6>Rooms 20</h6> <small class="text-muted">Lt. 2</small>
                                        </td>
                                        <td><span class="label label-info">Large</span></td>
                                        <td><span class="label label-info">1 Day</span></td>
                                        <td><span class="label label-success">Check in : 19 Okt 2017</span></td>
                                        <td><span class="label label-danger">Check out : 20 Okt 2017</span></td>
                                    </tr>

                                    <tr>
                                        <td>Mr. Atmajaya</td>
                                        <td>
                                            <h6>Rooms 20</h6> <small class="text-muted">Lt. 2</small>
                                        </td>
                                        <td><span class="label label-info">Large</span></td>
                                        <td><span class="label label-info">1 Day</span></td>
                                        <td><span class="label label-success">Check in : 19 Okt 2017</span></td>
                                        <td><span class="label label-danger">Check out : 20 Okt 2017</span></td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</template>

<script>

    export default {

    }

</script>