<template>
    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Booking Room</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item active"> Booking</li>
                        <li class="breadcrumb-item active"> Room</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="card-group">
                    <div v-for="data in getRoom">
                        <a href="#" v-on:click="checkRoom(data.id)">
                            <div class="card" v-if="data.status == 1" style="padding-left: 50px; padding-right: 50px" >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="m-b-0" style="text-align: center"> <i class="mdi mdi-check-all text-info"></i> </h2>
                                            <h3 class="text-info" style="text-align: center">{{ data.room_number }}</h3>
                                            <h6 class="card-subtitle" style="text-align: center"> <span class="text-info">Available</span></h6>
                                            <div class="col-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" v-else-if="data.status == 2" style="padding-left: 35px; padding-right: 35px">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="m-b-0" style="text-align: center"><i class="mdi mdi-briefcase text-danger"></i></h2>
                                            <h3 class="text-danger" style="text-align: center">{{ data.room_number }}</h3>
                                            <h6 class="card-subtitle" style="text-align: center"> <span class="text-danger">In the Booking</span></h6>
                                            <div class="col-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="modal fade style-4" id="bookRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" data-keyboard="false"  data-backdrop="static" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <hr>
                            <div class="container">
                                <div v-if="datBook.status == 1">
                                    <form class="form-material" method="post" v-on:submit.prevent="submitBooking(identitas)">
                                        <div class="form-body">
                                            <h3 class="title">Identitas</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-9">
                                                            <label>KTP</label>
                                                            <input type="text" class="form-control" name="name" v-model="identitas.id_card" maxlength="16">
                                                        </div>
                                                        <div class="col-md-3">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-warning" type="button" v-on:click="checkKTP()">Check</button>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-8">
                                                            <label>Name</label>
                                                            <input type="text" class="form-control" name="name" v-model="identitas.name">
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Gender</label>
                                                            <select class="form-control" v-model="gen">
                                                                <option v-for="genderM in gender" :value="genderM[0]">{{ genderM[1] }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label>Email</label>
                                                            <input type="text" class="form-control" name="mail" v-model="identitas.email">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Phone Number</label>
                                                            <input type="text" class="form-control" name="mail" v-model="identitas.phone_number">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-12">
                                                            <label>Address</label>
                                                            <textarea class="form-control" v-model="identitas.address" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <div class="col-md-12">
                                                            <input class="form-control" v-model="getTrueDat" rows="3" type="hidden">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check-circle-outline"></i> Booking</button>
                                            <button type="button" class="btn btn-default" v-on:click="closeModalForm()"><i class="mdi mdi-close-octagon"></i> Close</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="align-self-center">

                            </div>
                            <br>

                        </div>
                    </div>
                </div>


                <div class="modal fade" id="notifCheckCustomers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <hr>
                            <div class="container align-self-center">
                                <div style="text-align: center;">
                                    <h5><i class="mdi mdi-do-not-disturb"></i> &nbsp;Data Customers Tidak ditemukan !</h5>
                                    <h6>Input Data Customers!</h6>
                                </div>
                                <hr>
                            </div>
                            <div class="align-self-center">
                                <button class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                getRoom: {},
                counts: '',
                datBook: {},
                gender: [
                    [1, 'Male'],
                    [2, 'Female']
                ],
                identitas : {},
                gen       : '',
                getTrueDat : false,
            }
        },

        created : function () {
            this.getServiceRoom();
        },

        methods : {
            getServiceRoom : function () {
                this.$http.get('api/rooms').then(function (response) {
                    this.getRoom = response.data

                    this.counts  = this.getRoom.length
                    console.log(this.counts)
                })
            },

            checkRoom : function(id) {
                this.$http.get('api/rooms/' + id).then(function (response) {
                    this.datBook = response.data
                    $('#bookRoom').modal('show')
                    console.log(this.datBook)
                })
            },

            checkKTP : function()
            {
                this.$http.get('api/customers/getByID/' + this.identitas.id_card).then(function(response) {

                    this.identitas = response.data
                    if(this.identitas.gender == 'Female')
                        this.gen = 2
                    else if(this.identitas.gender == 'Male')
                        this.gen = 1


                   if(this.identitas.id_card == null)
                   {
                       $('#notifCheckCustomers').modal('show')
                       this.getTrueDat = false
                       this.gen = 0
                   } else {
                        this.getTrueDat = true
                   }

                }, function(error) {
                    console.log(error)
                })
            },

            closeModalForm : function () {
                this.identitas = {}
                this.gen       = 0
                $('#bookRoom').modal('hide')
            },

            submitBooking : function () {
                console.log(this.identitas)
                console.log(this.getTrueDat)
                console.log(this.gen)
            }
        }


    }

</script>
