<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Data Member</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Primary Data Cus</a></li>
                        <li class="breadcrumb-item active"> Member</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>Member</th>
                                        <th>Description</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="customer in customers">

                                        <td>{{ customer.name }}</td>
                                        <td>
                                            <span v-if="customer.isMember" class="label label-success">True</span>
                                            <span v-else class="label label-danger">False</span>
                                        </td>
                                        <td>

                                            <button class="btn btn-danger" title="Reg Our Member" v-if="! customer.isMember" v-on:click="registerMember(customer)">
                                                <i class="fa fa-check-square-o"></i>
                                            </button>


                                            <span v-if="customer.isMember" class="label label-info">Success Register to Member</span>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="modal fade" id="registerMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body align-self-center">
                            <h3>Register to Our Member : {{ customer.name }} ?</h3>
                        </div>
                        <div class="">
                            <hr>
                        </div>
                        <div class="align-self-center">
                            <button type="button" class="btn btn-danger" v-on:click="submitRegister(customer)"><i class="mdi mdi-check-circle-outline"></i> Ok</button>
                            <button type="button" class="btn btn-default " data-dismiss="modal"><i class="mdi mdi-close-octagon"></i> Close</button>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data : function () {
            return {
                customers : {},
                customer  : {},
                cus       : [],
            }
        },

        created : function () {
            this.loadCustomers();

        },

        methods : {
            loadCustomers : function () {
                this.$http.get('api/customers').then(function (response) {
                    this.customers = response.data;
                }, function (error) {
                    console.log(error);
                })
            },

            registerMember : function (data)
            {
                this.customer = data;
                $('#registerMember').modal('show');
            },

            submitRegister : function (data)
            {
                this.customer = data;
                this.customer.isMember = 1;

                this.$http.put('api/customers', this.customer).then(function (response) {
                    $('#registerMember').modal('hide');
                    this.loadCustomers();
                }, function (error) {
                    console.log(error);
                });
            }
        }
    }

</script>