<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Data Personal</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Primary Data Cus</a></li>
                        <li class="breadcrumb-item active"> Data Personal</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <router-link :to="{ name: 'formCustomer'}">
                                <button type="button" class="btn btn-primary" name="button"><i class="mdi mdi-account-plus"></i> Create a new Customer</button>
                            </router-link>

                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>

                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>ID Number</th>
                                            <th>Mail</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="cus in customers">

                                            <td>
                                                <router-link :to="{ name: 'detail-cus', params : {id: cus.id} }">
                                                    <a href="#">{{ cus.name }}</a>
                                                </router-link>
                                            </td>
                                            <td>{{ cus.gender }}</td>
                                            <td>{{ cus.id_card }}</td>
                                            <td>{{ cus.email }}</td>
                                            <td>

                                                <router-link :to="{ name : 'formCustomerEdit', params : {id : cus.id} }">
                                                    <button type="button" class="btn btn-primary" ><i class="fa fa-pencil"></i></button> &nbsp;
                                                </router-link>

                                                <button type="button" class="btn btn-danger" v-on:click="deleteCust(cus.id, cus.name)"><i class="fa fa-trash"></i></button>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body align-self-center">
                            <h3>Delete ID Customer : {{ id[0] + " - " + id[1] }} ?</h3>
                        </div>
                        <div class="">
                            <hr>
                        </div>
                        <div class="align-self-center">
                            <button type="button" class="btn btn-danger" v-on:click="submitDelete(id[0])"><i class="mdi mdi-check-circle-outline"></i> Delete</button>
                            <button type="button" class="btn btn-default " data-dismiss="modal"><i class="mdi mdi-close-octagon"></i> Close</button>
                        </div>
                        <br>

                    </div>
                </div>
            </div>

        </div>
    </div>



</template>

<script>

    export default {
        data : function () {
            return {
                customers : {},
                id : []
            }
        },

        created : function () {
            this.dataCustomers();
        },

        methods : {
            dataCustomers : function()
            {
                this.$http.get('api/customers').then(function (response){
                    this.customers = response.data;
                }, function (error) {
                    console.log(error);
                });
            },

            deleteCust : function(id, name)
            {
                this.id = [id, name];
                $('#deleteModal').modal('show');
            },

            submitDelete : function (id) {
                this.$http.delete('api/customers/' + id).then(function (response) {
                    $('#deleteModal').modal('hide');
                    this.dataCustomers();
                }, function (error) {
                    console.log(error);
                });
            }
        }
    }

</script>