<template>

    <div>

        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Data Personal</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Primary Data Cus</a></li>
                        <li class="breadcrumb-item"> Data Personal</li>
                        <li class="breadcrumb-item active"> Detail Customer {{ this.$route.params.id }}</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">ID</th>
                                        <td>{{ customers.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>{{ customers.name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Gender</th>
                                        <td>
                                            <div v-if="customers.gender=='Male'">
                                                <i class="fa fa-male"></i> <span class="label label-primary">Male</span>
                                            </div>

                                            <div v-else>
                                                <i class="fa fa-female"></i> <span class="label label-danger">Female</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td>{{ customers.address }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone Number</th>
                                        <td>{{ customers.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>{{ customers.email }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Member</th>
                                        <td> <p v-if="customers.isMember">{{ customers.name }} is Member </p> <p v-else>{{ customers.name }} is not Member </p> </td>
                                    </tr>

                                </tbody>
                            </table>

                            <router-link :to="{ name: 'customers' }">
                                <button type="button" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Back</button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                customers : {},
                id : '',
                gender : []
            }
        },

        created : function () {
            this.getCusByID();
        },

        methods : {
            getCusByID : function () {
                this.id = this.$route.params.id;

                this.$http.get('api/customers/' + this.id).then(function (response) {

                    this.customers = response.data;
                }, function (error) {
                    console.log(error);
                })
            }
        }
    }

</script>