<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Form Customer</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"> Primary Data Cus</li>
                        <li class="breadcrumb-item"> Data Personal</li>
                        <li class="breadcrumb-item active"> Form</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <form class="form-horizontal" method="post" v-on:submit.prevent="saveCus()">
                                    <div class="form-body">
                                        <h3 class="box-title">Person Info</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="id" v-model="customers.id" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Name</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="John doe" name="name" v-model="customers.name" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Gender</label>
                                                    <div class="col-md-9">
                                                        <div class="iput-group">
                                                            <div class="icheck-list">
                                                                <div class="icheck-list">
                                                                    <input type="radio" id="one" value="Male" v-model="customers.gender" name="gender" required>
                                                                    <label for="one">Male</label>
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <input type="radio" id="two" value="Female" v-model="customers.gender" name="gender" required>
                                                                    <label for="two">Female</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Address</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" placeholder="Customer's address" name="address" id="alamatCustomer" v-model="customers.address" required></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Phone Number</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="087xxxxxxxx" name="phone_number" id="tlpCustomer" v-model="customers.phone_number" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">ID Card</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="1234567890123456" name="id_card" id="ktpCustomer" v-model="customers.id_card" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Mail</label>
                                                    <div class="col-md-9">
                                                        <input type="email" class="form-control" placeholder="customer@mail.com" name="email" id="emailCustomer" v-model="customers.email" required>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                                        <router-link :to="{ name: 'customers' }">
                                            <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
                                        </router-link>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        data : function(){
            return {
                customers : {
                    'id' : '',
                    'name' : '',
                    'gender' : [],
                    'address' : '',
                    'phone_number' : '',
                    'id_card' : '',
                    'email' : ''
                },

            }
        },

        created : function( ) {
            this.checkID();
        },

        methods : {
            checkID : function()
            {
                if(this.$route.params.id)
                {
                    this.customers.id = this.$route.params.id;

                    this.$http.get('api/customers/' + this.customers.id).then(function (response) {
                        this.customers = response.data;
                    }, function (error) {
                        console.log(error);
                    });
                }
                else
                {
                    this.customers.id = '';
                }
            },

            saveCus : function () {

                if(this.customers.id)
                {
                    this.$http.put('api/customers', this.customers).then(function (response) {
                        this.$router.push('/customers');
                        console.log(response.data);
                    }, function (error) {
                        console.log(error);
                    });
                } else {
                    this.$http.post('api/customers', this.customers).then(function(response){
                        this.$router.push('/customers');
                    }, function(error){
                        console.log(error);
                    });
                }

            }
        }
    }

</script>