<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Form Service Members</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"> Service</li>
                        <li class="breadcrumb-item"> Member</li>
                        <li class="breadcrumb-item active"> Form</li>
                    </ol>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <form class="form-horizontal" method="post" v-on:submit.prevent="save(service)">
                                    <div class="form-body">
                                        <h3 class="box-title">Service Info</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="id" v-model="service.id" readonly>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Fasilitas</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="fasilitas" name="fasilitas" v-model="service.fasilitas" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Description</label>
                                                    <div class="col-md-9">
                                                        <textarea name="description" id="" cols="30" rows="10" placeholder="Description Service" class="form-control" v-model="service.deskripsi"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                                        <router-link :to="{ name : 'serviceMember' }">
                                            <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
                                        </router-link>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                service : {},
                id      : '',
                room_id : {}
            }
        },

        created : function () {
            if(this.$route.params.id)
            {
                this.id = this.$route.params.id;

                this.$http.get('api/service-member/' + this.id).then( function (response) {
                    this.service = response.data;
                }, function (error) {
                    console.log(error);
                });
            }
        },

        methods : {
            save : function (data) {
                if(this.id)
                {
                    this.$http.put('api/service-member/', data).then(function (response) {
                        this.$router.push('/serviceMembers')
                    }, function (error) {
                        console.log(error);
                    });
                } else {

                    this.$http.post('api/service-member', data).then(function (response) {
                        this.$router.push('serviceMembers');
                    }, function (error) {
                        console.log(error);
                    });
                }
            }
        }
    }

</script>