<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Service Members</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"> Service</li>
                        <li class="breadcrumb-item active"> Member</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <router-link :to="{ name : 'formServiceMember' }">
                                <button type="button" class="btn btn-primary" name="button"><i class="mdi mdi-account-plus"></i> Create a new Service</button>
                            </router-link>


                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Facility</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="serv in services">

                                        <td>
                                            <router-link :to="{ name: 'detailServiceMember', params : { id: serv.id }}">
                                                <a href="#">{{ serv.fasilitas }}</a>
                                            </router-link>
                                        </td>
                                        <td>{{ serv.deskripsi }}</td>
                                        <td>

                                            <router-link :to="{ name: 'formEditServiceMember', params : { id: serv.id }}">

                                                <button type="button" class="btn btn-primary" ><i class="fa fa-pencil"></i></button> &nbsp;

                                            </router-link>


                                            <button type="button" class="btn btn-danger" v-on:click="confrmDelete(serv)"><i class="fa fa-trash"></i></button>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteSMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body align-self-center">
                                <h3>Delete Service</h3>
                            </div>
                            <div class="container-fluid">

                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th scope="row">ID</th>
                                        <td>{{ data.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fasilitas</th>
                                        <td>{{ data.fasilitas }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <hr>
                            </div>
                            <div class="align-self-center">
                                <button type="button" class="btn btn-danger" v-on:click="submitDelete(data.id)"><i class="mdi mdi-check-circle-outline"></i> Delete</button>
                                <button type="button" class="btn btn-default " data-dismiss="modal"><i class="mdi mdi-close-octagon"></i> Close</button>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                services : {},
                data     : {}
            }
        },
        
        created : function () {
            this.loadServiceMember();
        },
        
        methods : {
            loadServiceMember : function () {
                this.$http.get('api/service-member').then(function (response) {
                    this.services = response.data;
                }, function (error) {
                    console.log(error);
                });
            },

            confrmDelete : function (data) {
                this.data = data;

                $('#deleteSMember').modal('show');
            },

            submitDelete : function (id) {
                this.$http.delete('api/service-member/' + id).then(function (response) {
                    $('#deleteSMember').modal('hide');

                    this.loadServiceMember();
                }, function (error) {
                    console.log(error);
                });
            }
        }
    }

</script>