<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Data Personal</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"> Room </li>
                        <li class="breadcrumb-item active"> Detail Room {{ this.$route.params.id }}</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">ID</th>
                                    <td>{{ room.id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>{{ room.room_number }}</td>
                                </tr>

                                <tr>
                                    <th scope="row">Address</th>
                                    <td>{{ room.status }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone Number</th>
                                    <td>Rp. {{ room.price }} ,.</td>
                                </tr>


                                </tbody>
                            </table>

                            <router-link :to="{ name: 'rooms' }">
                                <button type="button" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Back</button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>

    export default {
        data : function () {
            return {
                room : {},
                id : ''
            }
        },
        
        created : function () {
            this.id = this.$route.params.id;
            this.getRoomById(this.id);
        },
        
        methods : {
            getRoomById : function (id) {
                this.$http.get('api/rooms/' + id).then(function (response) {
                    this.room = response.data;
                }, function (error) {
                    console.log(error);
                })
            }
        }
    }

</script>