<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Form Customer</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"> Rooms</li>
                        <li class="breadcrumb-item active"> Form Room</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <form class="form-horizontal" method="post" v-on:submit.prevent="save(rooms)">
                                    <div class="form-body">
                                        <h3 class="box-title">Room Info</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="id" v-model="rooms.id" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Room Number</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="R1.11" name="rooms_number" v-model="rooms.room_number" required>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Status</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control" v-model="rooms.status" v-if="this.$route.params.id">
                                                            <option v-for="stat in status" :value="stat[0]">{{ stat[1] }}</option>
                                                        </select>

                                                        <select class="form-control" v-model="rooms.status" v-else>
                                                            <option v-for="stat in status" :value="stat[0]">{{ stat[1] }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Price</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="Rp 5000.000,00" name="price" v-model="rooms.price" required>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                                        <router-link :to="{ name: 'rooms' }">
                                            <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
                                        </router-link>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                rooms : {},
                status : [
                    [1, 'Available'],
                    [2, 'In The Booking']
                ]
            }
        },

        created : function () {
            this.checkID();
        },

        methods : {
            checkID : function () {
                if(this.$route.params.id)
                {
                    this.$http.get('api/rooms/' + this.$route.params.id).then(function (response) {
                        this.rooms = response.data;
                    }, function (error) {
                        console.log(error);
                    });
                } else {
                    this.rooms.id = '';
                }
            },
            
            save : function (data) {
                if(data.id)
                {
                    this.$http.put('api/rooms', data).then(function (response) {
                        this.$router.push('/rooms');
                    }, function (error) {
                        console.log(error);
                    });
                } else {
                    console.log(data);
                    this.$http.post('api/rooms', data).then(function (response) {
                        this.$router.push('/rooms');
                    }, function (error) {
                        console.log(error);
                    });
                }
            }
        }
    }

</script>