<template>

    <div>
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Rooms Data</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item active"> Rooms</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <router-link :to="{ name : 'formRooms'}">
                                <button type="button" class="btn btn-primary" name="button"><i class="mdi mdi-account-plus"></i> Create a new Room</button>
                            </router-link>

                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>

                                            <th>Room Number</th>
                                            <th>Status</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="room in rooms">

                                            <td>
                                                <router-link :to="{ name: 'detailRoom', params: {id : room.id }}">
                                                    <a href="#"> {{ room.room_number}} </a>
                                                </router-link>
                                            </td>
                                            <td> <span v-if="room.status == 1" class="text-info"> Available </span> <span v-if="room.status == 2" class="text-danger"> Booking </span></td>
                                            <td>Rp. {{ room.price }}</td>
                                            <td>
                                                <router-link :to="{ name : 'formEditRooms', params : { id : room.id} }">
                                                    <button class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                                </router-link>
                                                <button class="btn btn-danger" v-on:click="deleteRoom(room)"><i class="fa fa-trash"></i></button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body align-self-center">
                            <h3>Delete Room : {{ data.room_number }} ?</h3>
                        </div>
                        <div class="">
                            <hr>
                        </div>
                        <div class="align-self-center">
                            <button type="button" class="btn btn-danger" v-on:click="submitDeleteRoom(data.id)"><i class="mdi mdi-check-circle-outline"></i> Delete</button>
                            <button type="button" class="btn btn-default " data-dismiss="modal"><i class="mdi mdi-close-octagon"></i> Close</button>
                        </div>
                        <br>

                    </div>
                </div>
            </div>


        </div>
    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                rooms : {},
                data  : {}
            }
        },

        created : function () {
            this.loadDataRooms();
        },

        methods : {
            loadDataRooms : function() {
                this.$http.get('api/rooms').then(function (response) {
                    this.rooms = response.data;
                }, function (error) {
                    console.log(error);
                });
            },
        
            deleteRoom : function (data) {
                this.data = data;

                $('#deleteRoom').modal('show');
            },

            submitDeleteRoom : function (id) {
                this.$http.delete('api/rooms/' + id).then(function (response) {
                    $('#deleteRoom').modal('hide');

                    this.loadDataRooms();
                }, function (error) {
                    console.log(error);
                })
            }

        }
    }

</script>