<template>


    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header">
                <a href="navbar-brand">
                    <b>

                        <img src="/assets/images/mylogo.png" style="width:60%" alt="dashboard" class="dark-logo">

                    </b>
                </a>
            </div>

            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto mt-md-0">
                    <li class="nav-item"> <a href="javascript:void(0)" class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"> <i class="mdi mdi-menu"></i></a></li>
                    <li class="nav-item m-1-10"> <a href="javascript:void(0)" class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"> <i class="ti-menu"></i></a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                            <div class="notify">
                                <span class="heartbit"></span> <span class="point"></span>
                            </div>
                        </a>

                        <div class="dropdown-menu mailbox scale-up-left">
                            <ul>
                                <li>
                                    <div class="drop-title">
                                        Notifications
                                    </div>
                                </li>

                                <li>
                                    <div class="message-center">
                                        <a href="#">
                                            <div class="btn btn-danger btn-circle">
                                                <i class="fa fa-clock-o"></i>
                                            </div>

                                            <div class="mail-contnet">
                                                <h5>Due Date Rooms Today</h5> <span class="mail-desc"> 12 Rooms </span> <span class="time">11.30 AM</span>
                                            </div>
                                        </a>

                                        <a href="#">
                                            <div class="btn btn-warning btn-circle">
                                                <i class="fa fa-warning"></i>
                                            </div>

                                            <div class="mail-contnet">
                                                <h5>Due Date Rooms on 19 Okt 2017</h5> <span class="mail-desc"> 10 Rooms</span> <span class="time">12.00 PM</span>
                                            </div>
                                        </a>

                                        <a href="#">
                                            <div class="btn btn-info btn-circle">
                                                <i class="fa fa-shopping-basket"></i>
                                            </div>

                                            <div class="mail-contnet">
                                                <h5>Request Serve other</h5> <span class="mail-desc">Mr. Toni at Rooms 17 lt. 2</span> <span class="time">18.00 PM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <a href="javascript:void(0)" class="nav-link text-center"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav my-log-0">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/images/users/1.jpg" alt="user" class="profile-pic"></a>
                        <div class="dropdown-menu dropdown-menu-right scale-up">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"> <img src="/assets/images/users/1.jpg" alt="user"></div>
                                        <div class="u-text">
                                            <h4></h4>
                                            <p class="text-muted"></p><a href="" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li> <a href="#"> <i class="ti-user"></i> My Profile</a></li>
                                <li> <a href="#"> <i class="ti-settings"></i> Account Setting</a></li>
                                <li> <a href="#"><i class="ti ti-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </header>


</template>

<script>

    export default{


    }

</script>