<template>
    <aside class="left-sidebar testScroll" id="style-4">
        <div class="">
            <nav class="sidebar-nav" style="margin-top:-30px">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">All</li>
                    <li>
                        <router-link :to="{ name: 'index' } ">
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i class="mdi mdi-gauge"></i>
                                <span class="hide-menu">Dashboard </span>
                            </a>
                        </router-link>
                    </li>
                    <li> <a href="#" class="has-arrow waves-effect waves-dark" aria-expanded="false" style="margin-left:15px"> <i class="mdi mdi-alarm-multiple"></i> <span class="hide-menu"> D. Check <span class="label label-rounded label-themecolor pull-right">new 10r</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <router-link :to="{ name: 'checkin' }">
                                    <a href="#"> <i class="mdi mdi-arrow-bottom-right"></i> Check in</a>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'index' } ">
                                    <a href="#"> <i class="mdi mdi-arrow-top-left"></i> Check out</a>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">Master</li>
                    <li> <a href="#" class="has-arrow waves-effect waves-dark" aria-expanded="false" style="margin-left:15px"> <i class="mdi mdi-settings"></i> Primary Data Cus</a>
                        <ul class="collapse" aria-expanded="false">
                            <li>
                                <router-link :to="{ name: 'customers' }">
                                    <a href="#"><i class="mdi mdi-account-key"></i> Data Personal</a>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'members' } ">
                                    <a href="#"><i class="mdi mdi-book-multiple-variant"></i> Member</a>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <router-link :to="{ name : 'rooms' }">
                            <a href="#" class="waves-effect waves-dark" aria-expanded="false"> <i class="mdi mdi-bank"></i> Data Room</a>
                        </router-link>
                    </li>
                    <li> <a href="#" class="has-arrow waves-effect waves-dark" aria-expanded="false" style="margin-left:15px"> <i class="mdi mdi-widgets"></i> Service</a>
                        <ul class="collapse" aria-expanded="false">
                            <li>
                                <router-link :to="{ name : 'serviceMember' }">
                                    <a href="#"><i class="mdi mdi-seat-recline-normal"></i> Member</a>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name : 'serviceRooms' }">
                                    <a href="#"><i class="mdi mdi-tag"></i> Rooms</a>
                                </router-link>
                            </li>
                            <!--<li>-->
                                <!--<router-link :to="{ name : 'index' }">-->
                                    <!--<a href="#"><i class="mdi mdi-seat-legroom-reduced"></i> Non Member</a>-->
                                <!--</router-link>-->
                            <!--</li>-->
                        </ul>
                    </li>

                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">Order</li>
                    <li>
                        <a href="#" class="has-arrow waves-effect waves-dark" aria-expanded="false" style="margin-left:15px"> <i class="mdi mdi-briefcase"></i> Booking</a>
                        <ul class="collapse" aria-expanded="false">
                            <li>
                                <router-link :to="{ name : 'bookingRoom'}">
                                    <a href="#"><i class="mdi mdi-bank"></i> Rooms</a>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name : 'bookingRoom'}">
                                    <a href="#"><i class="mdi mdi-basket-fill"></i> Other Service</a>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <router-link :to="{ name : 'index' }">
                            <a href="#" class="waves-effect waves-dark" aria-expanded="false"> <i class="mdi mdi-file-document"></i> Invoice </a>
                        </router-link>
                    </li>
                </ul>
            </nav>

        </div>
    </aside>

</template>


<script>

    export default {



    }

</script>