<template>

    <div>

        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Data Personal</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Service</a></li>
                        <li class="breadcrumb-item"> Room</li>
                        <li class="breadcrumb-item active"> Detail Service Room {{ this.$route.params.id }}</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">ID</th>
                                    <td>{{ sroom.id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">ID Room</th>
                                    <td>{{ sroom.room_id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Facilities</th>
                                    <td>{{ sroom.facilities }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">QTY</th>
                                    <td>{{ sroom.qty }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Description</th>
                                    <td>{{ sroom.description }}</td>
                                </tr>


                                </tbody>
                            </table>

                            <router-link :to="{ name: 'serviceRooms' }">
                                <button type="button" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Back</button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                id    : '',
                sroom : {}
            }
        },

        created : function () {
            this.id = this.$route.params.id;
            this.getData(this.id);
        },

        methods : {
            getData : function (id) {
                this.$http.get('api/srooms/' + id).then(function (response) {
                    this.sroom = response.data;
                }, function (error) {
                    console.log(error);
                });
            }
        }
    }

</script>