<template>

    <div>

        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Form Customer</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"> Service</li>
                        <li class="breadcrumb-item"> Room</li>
                        <li class="breadcrumb-item active"> Form</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal" method="post" v-on:submit.prevent="saveSRoom()">
                                    <div class="form-body">
                                        <h3 class="box-title">Data Service Room</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="id" v-model="room.id" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Room ID</label>
                                                    <section class="col-md-9">

                                                        <select name="room_id" class="form-control" v-if="this.$route.params.id" v-model="room.room_id">
                                                            <option v-for="rooms in sroom" :value="rooms.id"> {{ rooms.id }} - {{ rooms.room_number }}</option>
                                                            <!--<option v-for="rooms in sroom" v-bind:value="rooms.id"> {{ rooms.id }} - {{ rooms.room_number }}</option>-->
                                                        </select>


                                                        <select name="room_id" class="form-control" v-model="room.room_id" v-else>
                                                            <option v-for="rooms in sroom" :value="rooms.id"> {{ rooms.id }} - {{ rooms.room_number }}</option>
                                                        </select>
                                                    </section>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Fasilitas</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="fasilities" v-model="room.facilities">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">QTY</label>
                                                    <div class="col-md-9">
                                                        <input type="number" class="form-control" name="qty" v-model="room.qty">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3">Description</label>
                                                    <div class="col-md-9">
                                                        <textarea type="text" class="form-control" name="description" v-model="room.description"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                                        <router-link :to="{ name: 'serviceRooms' }">
                                            <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
                                        </router-link>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    export default {
        data : function () {
            return {
                sroom : {},
                id    : '',
                room  : {},
                select: '',
                selecteds : undefined
            }
        },
        
        created : function () {
            this.loadRoom();
            this.checkIDSRoom();
        },
        
        methods : {
            loadRoom : function () {
                this.$http.get('api/rooms').then(function (response) {
                    this.sroom = response.data;
                }, function (error) {
                    console.log(error);
                });
            },

            checkIDSRoom : function () {
                if(this.$route.params.id)
                {
                    this.room.id = this.$route.params.id;

                    this.$http.get('api/srooms/' + this.room.id).then(function (response) {
                        this.room = response.data;
                    }, function (error) {
                        console.log(error)
                    })
                }
            },

            saveSRoom : function () {
                if(this.$route.params.id)
                {
                    this.$http.put('api/srooms', this.room).then(function(response) {
                        this.$router.push('/servie-rooms');
                    }, function (error) {
                        console.log(error)
                    })
                } else {
                    this.$http.post('api/srooms', this.room).then(function(response) {
                        this.$router.push('/servie-rooms');
                    }, function(error) {
                        console.log(error)
                    })
                }
            },

        }
    }

</script>