<template>

    <div>

        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3>Service Rooms</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Service</a></li>
                        <li class="breadcrumb-item active"> Rooms</li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <router-link :to="{ name : 'formServiceRoom'}">
                                <button type="button" class="btn btn-primary" name="button"><i class="mdi mdi-account-plus"></i> Create a new Service Rooms</button>
                            </router-link>
                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Facilities</th>
                                        <th>Room</th>
                                        <th>QTY</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="service in srooms">
                                        <td>
                                            <router-link :to="{ name: 'detailServiceRoom', params : {id : service.id }}">
                                                {{ service.facilities }}
                                            </router-link>
                                        </td>
                                        <td>
                                            <router-link :to=" { name: 'detailRoom', params : {id : service.room_id }} ">
                                                {{ service.room_id }}
                                            </router-link>
                                        </td>
                                        <td>{{ service.qty }}</td>
                                        <td>{{ service.description }}</td>
                                        <td>
                                            <router-link :to="{ name : 'formEditServiceRoom', params : {id : service.id } }">
                                                <button type="button" class="btn btn-primary" ><i class="fa fa-pencil"></i></button> &nbsp;
                                            </router-link>
                                            <button type="button" class="btn btn-danger" v-on:click="deleteSRoom(service.id)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteSRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body align-self-center">
                        <h3>Delete Service Room ID : {{ dels['id'] }} </h3>
                    </div>
                    <div class="container">
                        <hr>

                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <th style="padding-right:30px;padding-bottom: 4px">ID</th>
                                    <td>: {{ dels['id'] }}</td>
                                </tr>

                                <tr>
                                    <th style="padding-right:30px;padding-bottom: 4px">Fasilitas</th>
                                    <td>: {{ dels['facilities'] }}</td>
                                </tr>

                                <tr>
                                    <th style="padding-right:30px;padding-bottom: 4px">Room Number</th>
                                    <td>: {{ dels['room_id'] }}</td>
                                </tr>

                                <tr>
                                    <th style="padding-right:30px;padding-bottom: 4px">Status</th>
                                    <td>: {{ tmpRooms['status'] }}</td>
                                </tr>

                                <tr>
                                    <th style="padding-right:30px;padding-bottom: 4px">Price</th>
                                    <td>: {{ tmpRooms['price'] }}</td>
                                </tr>
                            </table>
                        </div>

                        <hr>
                    </div>
                    <div class="align-self-center">
                        <button type="button" class="btn btn-danger" v-on:click="submitDelete(dels['id'])"><i class="mdi mdi-check-circle-outline"></i> Delete</button>
                        <button type="button" class="btn btn-default " data-dismiss="modal"><i class="mdi mdi-close-octagon"></i> Close</button>
                    </div>
                    <br>

                </div>
            </div>
        </div>

    </div>

</template>

<script>

    export default {
        data: function () {
            return {
                srooms : {},
                rooms  : {},
                get    : {},
                dels   : {},
                tmpRooms : {},
            }
        },

        created: function () {
            this.loadDataSrooms();
        },

        methods:
        {
            loadDataSrooms : function () {
                this.$http.get('api/srooms').then(function (response) {
                    this.srooms = response.data;
                }, function (error) {
                    console.log(error)
                });
            },

            deleteSRoom : function(id)
            {
                this.$http.get('api/srooms/' + id).then(function (response) {
                    this.dels = response.data

                    this.$http.get('api/rooms/' + this.dels['room_id']).then(function (responses) {
                        this.tmpRooms = responses.data
                    })
                    $('#deleteSRoomModal').modal('show');
                }, function (error) {
                    console.log(error)
                })
            },

            submitDelete : function (id) {
                this.$http.delete('api/srooms/' + id).then(function (response) {
                    $('#deleteSRoomModal').modal('hide')
                    this.loadDataSrooms()
                })
            }
        }
    }

</script>