<template>

        <div class="login-register" style="background-image:url(/assets/images/background/login-register.jpg)">
            <div class="preloader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                </svg>
            </div>

            <section id="wrapper">
                <div>
                    <div class="login-box card">
                        <div class="card-body">
                            <form method="post" class="form-horizontal form-material" id="loginform" v-on:submit.prevent="login(auth)">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="email" name="email" placeholder="your@mail.com" class="form-control" v-model="auth.email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="password" name="password" placeholder="yourpassword" class="form-control" v-model="auth.password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <a href="" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot Password?</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <button type="submit" name="button" class="btn btn-info btn-block text-uppercase waves-effect waves-light">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

</template>

<script>


    export default {
        data: function () {
            return {
                auth:{}
            };
        },
        methods : {
            login : function (data) {
                this.$http.post('http://localhost:8000/api/oauth/token').then(function (response) {
                   console.log(response);
                }, function (error) {
                    console.log(error);
                });
            }
        }
    }

</script>